<header class="bg-white flex place-content-between px-4 py-2 ">
  <div>
    <img src="./logo/logo-header.webp" alt="imagen logo " class="h-12 w-auto">
  </div>
  <img src="./titulo/titulo.png" alt="mundo de dragón ball" class="h-12 w-auto">
</header>
