<header class="bg-white flex place-content-between px-4 py-2 ">
  <div>
    <img src="./logo/logo-header.webp" alt="imagen logo " class="h-12 w-auto">
  </div>
  <img src="./svg/dragonball-z.svg" alt="dragón ball logo" class="h-14 w-auto">
</header>
