<div
  class="relative h-auto w-full bg-[url('/presentacion/nube-fondo.png')] bg-repeat bg-[length:300px_auto] md:flex md:justify-center md:items-center md:bg-[length:290px_auto] md:bg-repeat md:bg-[url('/presentacion/nube-fondo.png')]"
>
  <div class=" inset-0 bg-black/50"><!-- para realizar un fade de color blanco al termino del video -->
    <video
       class="w-full md:w-4xl h-auto object-cover  opacity-100 transition-opacity duration-500 fade-video"
      autoplay
      loop
      muted
      playsinline
    >
      <source src="/presentacion/video.mp4" type="video/mp4" />
    </video>
  </div>
</div>

